@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game Tracker</h1>
    <p>This app helps you keep track of the latest released games. You can add them to your favorites collection.</p>
</div>